* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(117, 117, 117);
}

header {
    background-color: rgb(88, 87, 87);
    background-image: linear-gradient(to left, rgb(105, 105, 105), rgb(41, 41, 41));
    width: 100%;
    text-transform: capitalize;
    border: 1px solid rgb(194, 109, 12);
}

.logo a {
    margin-left: 0px;
    padding: 0px;
}

#logo-img {
    height: 80px;
    width: 80px;
    background-image: url(../img/Silgar\ copia.PNG);
    background-size: cover;
}




#navegacion {
    font-size: 18px;
}

#navegacion a {
    color: white;
}

#navegacion a:hover {
    color: rgb(194, 109, 12);
    text-decoration: underline;
}


.navbar-brand {
    color: rgb(194, 109, 12) !important;
    font-weight: bold;
    padding-top: 10px;
    margin-left: 10px;

}

.barra {
    color: white;
}


main {
    margin: 60px 50px;
    padding: 30px 30px;
    background-color: white;
}

.jumbotron-fluid {
    height: 500px;
    padding: 0;
    background-color: #333;
    background-image: url(../img/industry-ged8380efc_1920.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    border: 2px solid rgb(14, 2, 17);
}

h1 {
    width: 100%;
    margin-top: 250px;
    font-weight: bold;
    border: 2px solid rgb(194, 109, 12);
    border-radius: 10px;
    background-color: rgba(51, 51, 51, 0.404);
}





.intro {
    height: auto;
    width: auto;
    margin: 30px 40px 8px;
    padding: 15px 20px;
    font-size: 18px;
    text-align: start;
    color: rgb(0, 0, 0);
    border-style: solid;
    border-color: #041529;
    background-color: rgba(255, 255, 255, 0.815);
    border: 3px solid rgb(194, 109, 12);
}

.carousel-inner img {
    width: 50%;
    height: 400px;
}

footer {
    height: auto;
    width: 100%;
    background-color: rgb(194, 109, 12);
    color: white;
    text-align: center;
}

footer h4 {
    font-size: 35px;
}


footer .redes a {
    text-decoration: none;
    font-size: 50px;
    letter-spacing: 20px;
    color: white;
}


/* Trayectoria */

h2 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 30px;
    text-decoration: underline;

}


.cuerpoTray {

    font-size: 25px;
}

.fecha {
    margin-top: 40px;
    height: 80px;
    width: 100px;
    line-height: 80px;
    text-align: center;
    float: left;
    background-color: red;
}

.cuerpoTray .desan {
    margin-top: 40px;
    font-size: 26px;
    margin-left: 140px;
    padding-left: 10px;
}

/* Servicios */

.cuerpoServ {
    font-size: 25px;
}

.servicio {
    background-color: aliceblue;
    height: 250px;
}

.galeriaServicios {
    width: 100%;
    height: 250px;
}

.textoServicios {
    font-size: 10pt;
}





.servImagen1 {
    background-image: url(../img/estructura_metalica.jpg);
    background-size: cover;
}

.servImagen2 {
    background-image: url(../img/grain_silos_1920.jpg);
    background-size: cover;
}

.servImagen3 {
    background-image: url(../img/SiloAereo01-p-500.jpeg);
    background-size: cover;
}

.servImagen4 {
    background-image: url(../img//Transportador2-p-800.png);
    background-size: cover;
}

.servImagen5 {
    background-image: url(../img/Elevador1-p-500.png);
    background-size: cover;
}

.servImagen6 {
    background-image: url(../img/);
    background-size: cover;
}

/* Trabajos */
.cuerpoTrab {
    font-size: 25px;
}

.fotoTrabajo {
    height: 300px;
    width: 23%;
    display: inline-block;
    margin: 10px;
}

.fotoTrabajo img {
    height: 100%;
    width: 100%;

}

.galeria {
    margin: 40px 10px 30px 10px;
}



.cuerpoContacto {
    text-align: justify;
    height: 360px;
    width: 42%;
    font-size: 17pt;
    display: inline-block;
}

.contactoFormulario {
    height: auto;
    width: 42%;
    float: right;
}

.contactoFormulario label {
    font-size: 12pt;
    font-weight: bold;

}

.contactoFormulario input,
textarea {
    font-size: 12pt;
    resize: none;
}

#footerContacto {
    height: 150px
}


@media screen and (min-width: 1024px) {
    #navegacion {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: end;
        font-size: 30px;
    }

    .jumbotron-fluid div {
        width: 1000px;
    }
}

@media screen and (min-width: 576px) and (max-width: 1023px) {
    #navegacion {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: end;

    }

    .jumbotron-fluid {
        height: 300px;
    }

    .jumbotron-fluid div {
        width: 570px;
    }

    h1 {
        margin-top: 150px;
        font-size: 27px;
    }

    .carousel-inner img {
        width: 70%;
    }
}


@media screen and (max-width: 575px) {
    .intro{
        margin: 10px 5px;
    }

    .logo a {
        font-size: 13px;
        margin-left: 0px;
        padding: 0px;
    }

    .jumbotron-fluid {
        height: 250px;

    }

    .jumbotron-fluid div {
        width: 310px;
    }

    h1 {
        margin-top: 125px;
        font-size: 15px;
    }

    .carousel-inner img {
        width: 100%;
        height: 400px;
    }
}